<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Friends</title>
</head>
<body>
    <div>
        <h1><%= displayFriend.name %></h1>
        <ul>
            <li>Age: <%= displayFriend.age %></li>
            <li>Location: <%= displayFriend.location %></li>
            <li>Eye Color: <%= displayFriend.eyeColor %></li>
            <li>Hair Color: <%= displayFriend.hairColor %></li>
        </ul>
    </div>
    
    <a href="/friends/"><--Back</a>
</body>
</html> 